body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.form {
    position: fixed;
    margin-left: 400px;    
    background-color: white;
}

.sidebar {
    align-items: center;
}

#background-image {
    height: 50%;
    width: auto;
}