body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.content {
    position: fixed;
    margin-left: 614px;    
    background-color: white;
}

.sidebar {
    flex: 0, 0, 40%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
    position: relative;
    top: 0;
    left: 0;
}

#background-image {
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    z-index: 1;
}

.logo {
    position: fixed;
    object-fit: cover;
    height: 200px;
    width: 700px;
    background-color: black;
    opacity: 50%;
    margin-left: 0;
    margin-top: 100px;
}

.text-area {
    text-align: center;
    padding: 100px;
}