body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.content {
    display: flex;
    width: auto;
    height: 100vh;
}

.right-side {
    align-items: center;
    background-color: white;
    flex: 0, 0, 60%;
    flex-shrink: 1;
    flex-basis: 60%;
    z-index: 2;
}

.left-side {
    flex: 0, 0, 40%;
    flex-shrink: 1;
    flex-basis: 40%;
}

#background-image {
    display: block;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 100px;
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: black;
    opacity: 50%;
    margin-left: 0;
    margin-top: 100px;
    flex-shrink: 1;
}

#logo-image {
    width: 100px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    flex-shrink: 1;
    flex-basis: auto;
    opacity: 100%;
}

#header {
    color: white;
    opacity: 100%;
    margin-left: 25px;
    font-size: 25px;
    flex-shrink: 1;
    flex-wrap: wrap;
    z-index: 2;
}

.text-area {
    background-color: antiquewhite;
    position: fixed;
    width: auto;
    flex-wrap: wrap;
    text-align: center;
    padding: 100px;
    margin: 0;
    flex-shrink: 1;
}

.form-area {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    margin-top: 350px;
    flex-shrink: 1;
    padding-bottom: 25px;
}

.name,
.contact,
.password {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding-bottom: 10px;
}